body{
    color: #e3f2fd;
    background-color: #0b1f3a;
}

li{
    list-style: none;
    margin:0;
    padding: 0;
    overflow: hidden;
}

#main_panel, #side_panel{
    margin: 10px;
    color: #133769;
    background-color: #e3f2fd;
}

#main_panel{
    width: 75%;
}

#side_panel{
    width:25%;
}

.info_section{
    background-color: #c2dde4;
}

.doing_section{
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
    margin: 10px;
}

#panel{
    display: flex;
}

